@import "@/node_modules/prismjs/themes/prism-tomorrow";

@import 'base/bootstrap.scss';
@import 'base/bootstrap-extended.scss';
@import 'base/colors.scss';
@import 'base/components.scss';

// Themes
@import 'base/themes/dark-layout.scss';
@import 'base/themes/bordered-layout.scss';
@import 'base/themes/semi-dark-layout.scss';
// @import './base/custom-rtl.scss';

// React Specific
@import 'react/index';

// Font for icons
@import "@/public/fonts/feather/iconfont.css";

// Ecommerce Dashboard
@import 'react/libs/charts/apex-charts.scss';
@import 'base/pages/dashboard-ecommerce.scss';
